body {
    width: 100vw;
}

.panel {

    display: flex;
		justify-content:space-between;
    width: 100%;
    align-items: end;
    padding: 0;

}

.panel>* {
    margin: 10px;
}

.panel__search>*{
				margin:10px;
}

.panel__search>button {
    width: 100px;
    height: 30px;
}

.panel__search>input {
    width: 100px;
    height: 30px;
}

.panel__search {
display:flex;
align-items:end;

}
